/* SCSS HEX */
$dark-pastel-green: #3fc052ff
$selective-yellow: #ffb601ff
$turquoise: #05dec7ff
$dartmouth-green: #14662dff
$vivid-sky-blue: #25e1fdff
$persian-blue: #1b37bdff

#root
    width: 100%
    margin: 0 auto
    padding: 2rem
    text-align: center

.app-title
    font-size: 3.2em
    line-height: 1.1
    color: $dartmouth-green
p
    font-size: 1.6em
    color: $dartmouth-green

.menu-canvas-container
    width: 80%
    display: flex
    flex-direction: row
    gap: 1rem
    background-color: $persian-blue
    padding: 2rem
    margin: 0 auto
